{% extends 'base.html.twig' %}

{% block title %}Inscription formateur{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/login/login.css">
{% endblock %}

{% block body %}

    <div class="center">

        <section class="login-container login-formateur">
            <h2>Inscription formateur</h2>
            {{ form_start(form) }}

            <div class="input">
                {{ form_row(form.username, {'label': 'Nom','attr': {'placeholder': 'Nom...'}}) }}
            </div>
            <div class="input">
                {{ form_row(form.prenom, {'label': 'Prenom','attr': {'placeholder': 'Prenom...'}}) }}
            </div>
            <div class="input">
                {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Adresse email...'}}) }}
            </div>
            <div class="input">
                {{ form_row(form.photo, {'label': 'Photo de profil','attr': {'placeholder': 'Photo (url)...'}}) }}
            </div>
            <div class="input">
                {{ form_row(form.description, {'label': 'Description','attr': {'placeholder': 'Description de vos spécialités...'}}) }}
            </div>
            <div class="input">
                {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe...'}}) }}
            </div>
            <div class="center">
                <button type="submit" class="form-btn-succes">Inscription</button>
            </div>
            {{ form_end(form) }}
        
            <div class="register-link">
                <span class="register-content">S'inscire : 
                    <a href="{{ path('security_registration_user') }}">Apprenant</a>
                </span>
            </div>
        </section>
    
    </div>

{% endblock %}