{% extends 'base.html.twig' %}

{% block title %}Inscription apprenant{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/login/login.css">
{% endblock %}

{% block body %}
    <div class="center">

        <section class="login-container register-user">
            <h2 class="form-title">Inscription d'apprenant</h2>
            {{ form_start(form) }}
            <div class="input">
                {{ form_row(form.username, {'label': 'Nom d\'utilisateur','attr': {'placeholder': 'Nom d\'utilisateur...'}}) }}
            </div>
            <div class="input">
                {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Adresse email...'}}) }}
            </div>
            <div class="input">
                {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe...'}}) }}
            </div>
            <div class="center">
                <button type="submit" class="form-btn-succes">Inscription</button>
            </div>
            {{ form_end(form) }}
            <div class="register-link">
                <span class="register-content">
                S'inscire : 
                <a href="{{ path('security_registration_formateur') }}">Formateur</a>
                </span>
            </div>
        
        </section>
    
    </div>
    


{% endblock %}