{% extends 'base.html.twig' %}

{% block title %}Créer une formation{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="/css/form/form.css">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="form">

            <div class="center">
                <h2>Créer une formation</h2>
            </div>
            

            {{ form_start(formFormation) }}

            {{ form_row(formFormation.title, {'attr': {'placeholder': 'Tire de la formation'}}) }}
            {{ form_row(formFormation.content, {'attr': {'placeholder': 'Description rapide de la formation'}}) }}
            {{ form_row(formFormation.image, {'attr': {'placeholder': 'URL de la vignette de la formation'}}) }}
            
            <div class="center">
                <button type="submit" class="form-btn-succes">Ajouter</button>
            </div>

            {{ form_end(formFormation) }}
        </div>
    </div>

{% endblock %}